body {
    background-color: #eeeeee;
}
.header{
    background-color: #ffffff;
    color: black;
}

.header__logo{
    height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline;
}

.header__logo_text{
    font-weight: bold;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    display: inline-block;
    padding: 20px;
}

.albums{
    border-top: 1px solid saddlebrown;
    background-color: antiquewhite;
}

.cover li {
    list-style-type: none;
}

.cover li img {
    width: 200px;
    height: 200px;
    float: left;
    padding: 20px;
    border-radius: 12%;
}

.navigate {
    display: inline;
    color: black;
}